@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  --big_main_padding:2vw;
  --main_padding:1vw;
  --main_mini_padding:0.5vw;
  --mini_size:14px;
  --small_size:16px;
  --medium_size:18px;
  --large_size:20px;
  --extra_large_size:24px;
  --very_large_size:30px;
  --grey_color:#A0AEC0;
  --text_color:#2a5267;
  --text_second_color:#416d83;
  --back_color:#4FD1C5;
  --back_hover_color:#38B2AC;
  --cancel_color: #5bb0df;
  --cancel_hover_color: #427c9b;
  --border_color:#d9d9d9;
  --back_gradient_color:#2AA79B;
  --back_second_color:#56f79e;
}

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  font-family: 'Open Sans', sans-serif;

}
body{background-color: #F7FAFC;}
.login_box{
  padding-top: 0px;
  width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center;
}
.login_form{
  background-color: #fff;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}
.login_form_form{ padding: 10px 30px 10px; }
.login_img, .login_form_box{width: 50%; display: flex; align-items: center; justify-content: center; height: 100%; overflow: hidden;}
.login_img img{width: 80%;  transform: rotateY(180deg);}
.login_img{  background: linear-gradient(var(--back_color), var(--back_gradient_color));}
.login_form_box{background-color: white; flex-direction: column; position: relative; }
.login_bottom{position: absolute; bottom: 30px; width: 100%; display: flex; flex-wrap: wrap; justify-content: center;}
.login_bottom, .reset_pass_text{font-size: var(--small_size); font-weight: 500; color: var(--text_color); }
.login_bottom a, .reset_pass_text a{color:var(--back_color); transition: 0.3s; margin-left: 5px;}
.login_bottom a:hover, .reset_pass_text a:hover{color: var(--back_hover_color);}
.login_logo{display: flex; flex-direction: row; align-items: center;}
.login_logo img{width: 120px; margin-bottom: 20px;}
.login_form h1{font-size: var(--large_size); color: white; text-align: center;
  padding: 15px;
  background: linear-gradient(var(--back_color), var(--back_hover_color)); margin-bottom: 25px; text-transform: uppercase;}
.auth_navbar{width: 100%; z-index: 3333; position: absolute; height: 90px; background-color: transparent; display: flex; align-items: center; justify-content: space-between; padding: 20px 5%;}
.auth_brand{display: flex; align-items: center; width: 30%;}
.auth_brand img{height: 70px; margin-right: 15px;}
.auth_brand h1{font-size: var(--medium_size); color: var(--text_color);}

input, .ant-select-selection-item{padding: 10px !important; font-size: var(--small_size) !important; height: 46px !important; display: flex !important;
   align-items: center; border-radius: 12px !important; color: var(--text_color) !important;}
.ant-input-affix-wrapper {padding: 0px !important; padding-right: 15px !important; border-radius: 12px !important;}
.ant-input-prefix, .ant-select-prefix{display: flex !important; padding-left: 10px !important; font-size: var(--large_size) !important; 
  margin-right: 0px !important;margin-inline-end: 0px !important; color: var(--text_second_color) !important;}
.ant-select-selector{height: 46px !important; border-radius: 12px !important; padding-left: 0px !important;}
.ant-form-item-required::before, .ant-form-item-required::after{display: none !important; }
label{padding-left: 10px !important; font-size: var(--small_size) !important; font-weight: 500; height: max-content !important;
color: var(--text_second_color) !important; }
.ant-col:has(.ant-form-item-required){padding-bottom: 5px !important;}
.ant-input-suffix{font-size: var(--medium_size) !important;}
:where(.css-dev-only-do-not-override-ac2jek).ant-input-outlined:focus, :where(.css-dev-only-do-not-override-ac2jek).ant-input-outlined:focus-within{border-color: var(--back_color) !important;}
.btn_form{width: 100%; background: linear-gradient(var(--back_color), var(--back_hover_color)); color: white !important; height: 46px !important; font-size: var(--small_size);
  border: none !important; border-radius: 12px !important; margin-top: 20px !important;
  font-weight: 600; padding: 10px; display: flex; justify-content: center; align-items: center;}  
  .main_card_btn{width: 100%; padding-left: 70%; margin: 0px 0 20px 0px; }
  .main_card_btn .btn_form{margin-top: 10px !important;}
.btn_form:hover{background: linear-gradient(var(--back_hover_color), var(--back_hover_color)) !important; color: white !important;}


.langs_box{position: relative; z-index: 3;  }
.langs_box img{height: 15px;}
.langs_list{background-color: white; transition: 0.3s; max-height: 0px; overflow: hidden; padding:0px 15px; margin-top: 5px; border-radius: 10px;
   position: absolute; top:100%; right: 0px;}
  .langs_list li{display: flex; height: 25px; cursor: pointer; width: 150px; align-items: center; justify-content: space-between; margin: 10px 0px;}
  
  .lang_item_box{display: flex;   align-items: center;}
  .lang_item_box p{margin-left: 10px; transition: 0.3s; font-size: var(--mini_size); font-weight: 500; color: var(--text_color);}
 .langs_list li:hover p{color: var(--back_color);}
  .selected_lang{display: flex; width: 100px; align-items: center; justify-content: space-between; padding: 5px 10px; border-radius: 12px;
border: 1px solid white; background-color: white; cursor: pointer;
}
.selected_lang span{display: flex;transition: 0.3s; align-items: center; font-size: var(--large_size); color: var(--text_color);}
.selected_lang:hover span{color: var(--back_color);}
.lang_check{font-size: var(--medium_size); color: var(--back_color);}
.opened_lang .langs_list{max-height:100vh;  padding: 5px 15px;}
.opened_lang .selected_lang span{transform: rotate(-90deg);  color: var(--back_color);}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important; /* fon rangini oq qiladi */
    box-shadow: 0 0 0 1000px #fff inset !important;
    -webkit-text-fill-color: var(--text_color) !important; /* matn rangi */
    transition: background-color 5000s ease-in-out 0s; /* autofillni yashirish */
}
.code_verify_box{display: flex; flex-direction: column; align-items: center; padding:40px 0px 20px;}
.code_verify_box h2{font-size: var(--large_size); text-align: center; color: var(--text_color); margin-bottom: 25px;}
.ant-otp-input{font-size: var(--extra_large_size) !important; font-weight: 500px; padding: 10px 5px !important; } 
.btn_form_cencel{background: linear-gradient(var(--cancel_color), var(--cancel_hover_color)) !important; margin-left: 0px !important; }
.btn_form_cencel:hover{background: linear-gradient(var(--cancel_hover_color), var(--cancel_hover_color)) !important; }
.ant-btn-loading-icon{position: absolute !important; z-index: 3; font-size: var(--large_size);}
.ant-btn-loading{position: relative !important; opacity: 1 !important;}
.ant-btn-loading::after{content: ''; position: absolute !important;  display: flex !important; top:0px; left: 0px; width: 100% !important; height: 100% !important; 
  background-color: rgba(255, 255, 255, 0.234); border-radius: 12px !important; backdrop-filter: blur(5px); }
  .main_box{width: 100%; display: flex; height: 100vh; overflow: hidden;}
  .sidebar{width: 350px; transition: 0.3s; overflow: hidden; height: 100%; padding: var(--main_padding);}
  .sidebar_head{height: 6vh;  padding-left: 10px; display: flex; align-items: center;}
  .sidebar_head img{height: 100%;  transition: 0.3s; margin-right: 15px;}
  .sidebar_head h1{font-size: var(--very_large_size);  transition: 0.3s; white-space: nowrap; color: var(--text_color); font-weight: 900; }
  .sidebar_line{margin-top: 2vh; height: 1px; width: 100%; background: linear-gradient(to right, transparent, var(--grey_color), transparent); border-radius: 50%;}
  .sidebar_menu{ padding: var(--main_padding) 0; display: flex; flex-direction: column;}
  .sidebar_menu_item{display: flex;  transition: 0.3s; overflow: hidden; align-items: center; margin: 10px 0px; padding: 10px; border-radius: 12px;}
  .sidebar_icon{padding: 10px;  transition: 0.3s; border-radius: 12px; background-color: white; display: flex; align-items: center; justify-content: center;
    font-size: var(--extra_large_size); color: var(--back_color);
    margin-right: 10px; box-shadow: rgba(0, 0, 0, 0.02) 0px 3.5px 5.5px;}
    .sidebar_title{font-weight: 600; font-size: var(--small_size);  transition: 0.3s; color: var(--grey_color); white-space: nowrap;}
    .active_sidebar_item{background-color: white; box-shadow: rgba(0, 0, 0, 0.02) 0px 3.5px 5.5px;}
    .active_sidebar_item .sidebar_title{color: var(--text_color); font-weight: 700;}
    .active_sidebar_item .sidebar_icon{background: linear-gradient(var(--back_color), var(--back_hover_color)); color: white;
      box-shadow: none;}
      .content_box{width: 100%;}
    .main_header{height: calc(6vh + var(--main_padding) + var(--main_padding));  display: flex; align-items: center;
       justify-content: space-between; padding: var(--main_padding);
      background-color: #F7FAFC; z-index: 344; }
      .header_others{display: flex; align-items: center;}
      .menu_close{color: var(--text_color); display: flex;transform: scale(1, 1); align-items: center; font-size: 25px; cursor: pointer; transition: 0.3s;}
      .menu_close:hover{transform: scale(1.2, 1.2);}
      .menu_close:active{transform: scale(1, 1);}
    .content{width: 100%;  padding:0; padding-right: var(--main_padding); height: calc(100vh - 6vh - var(--main_padding) - var(--main_padding)); overflow: auto;}
    .content::-webkit-scrollbar{display: none;}
    .main_card{background-color: white; margin-bottom: var(--big_main_padding); border-radius: 12px; 
      box-shadow: rgba(0, 0, 0, 0.02) 0px 3.5px 5.5px; overflow: hidden;}
    .main_card h1{padding: 15px 20px;  background: linear-gradient(var(--back_color), var(--back_gradient_color)); 
      font-size:var(--medium_size); color: white; display: flex; justify-content: space-between; width: 100%;}
    .main_card_content{padding: var(--main_padding);}
    .main_col{padding: var(--main_mini_padding);}
    .input_img_box{width: 10vw; cursor: pointer; height: 10vw; background-color: white; border-radius: 12px;  position: relative;
    display: flex; align-items: center; justify-content: center; overflow: hidden;}
    .input_img_icon{width: 100%; height: 100%; opacity: 0.3; border: 10px solid  var(--text_color); color: var(--text_color);
       font-size: 110px; display: flex; align-items: center; justify-content: center;}
    .input_img_box input{position: absolute;cursor: pointer; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 3; opacity: 0;}
.list_phone_input .anticon-minus-circle{font-size: 20px; color: var(--grey_color); padding-left: 5px !important;}
.claveInput{border: 1px solid #d9d9d9; outline: none; border-radius: 12px;}
.closed_menu{width: calc(68px + var(--main_padding) + var(--main_padding));}
.closed_menu .sidebar_head h1{margin-left: 20px;}
.closed_menu .sidebar_title{margin-left: 20px;}
.form_div{height: 100%; display: flex; align-items: center !important; padding-top: 8px;}
.form_div button{margin-top: 0px !important;} 
.input_date, .file_input{padding: 10px; border: 1px solid #d9d9d9; width: 100%; border-radius: 12px;}
.hidden_box{max-height: 0px; overflow: hidden; transition: 0.5s;}
.showed_box{max-height: 100vh !important; }
.alert_icon{font-size: var(--extra_large_size); line-height: 100% !important; display: flex; align-items: center;}
.file_input_bottom_text{font-size: var(--mini_size); margin-top:5px; color: var(--grey_color); padding: 0px 10px;}
.complaint_item{margin: 10px 0px;}
.complaint_name{font-size: var(--small_size); color: var(--text_color); user-select: none !important;}
.mini_loader{width: 100%; display: flex; justify-content: center; padding: 20px;}
.ekg-image{padding: 0px 25%;}
:where(.css-dev-only-do-not-override-ac2jek) .ant-image-preview-operations, :where(.css-dev-only-do-not-override-ac2jek) .ant-image-preview-close{background-color: var(--text_color);}
.ant-image-preview-operations-operation span{color: white !important;} 



.lang_exit{display: flex; align-items: center !important; }

.exit_icon{display: flex; align-items: center; cursor: pointer; padding: 0px 35px 0px 30px;}
.exit_icon img{width: 45px !important; height: 45px; border-radius: 12px; margin-right: 10px;}
.exit_icon h1{ color:var(--text_color); max-width: 160px; overflow: hidden;
  font-size: var(--small_size); font-weight: 600;}
  .exit_icon p{ color:var(--grey_color);
    font-size: var(--mini_size);}

:where(.css-dev-only-do-not-override-ac2jek).ant-form-item .ant-form-item-explain-error{
  display: none !important;
}


.modal-text{width: 100%; display: flex; justify-content: center;flex-direction: column; text-align: center;
margin-bottom: 20px;}
.modal-text h1{
  color:var(--text_color);
  font-size: var(--medium_size);
  margin-bottom: 5px;
}
.modal-text p{
  color:var(--grey_color);
  font-size: var(--mini_size);
}

.big_card_content{width: 100%; min-height: 85vh;}
:where(.css-dev-only-do-not-override-ac2jek).ant-table-wrapper .ant-table-thead >tr>th, :where(.css-dev-only-do-not-override-ac2jek).ant-table-wrapper .ant-table-thead >tr>td{
  background: var(--back_color);
}
:where(.css-dev-only-do-not-override-ac2jek).ant-table-wrapper .ant-table-cell, :where(.css-dev-only-do-not-override-ac2jek).ant-table-wrapper .ant-table-thead>tr>th, :where(.css-dev-only-do-not-override-ac2jek).ant-table-wrapper .ant-table-tbody>tr>th, :where(.css-dev-only-do-not-override-ac2jek).ant-table-wrapper .ant-table-tbody>tr>td, :where(.css-dev-only-do-not-override-ac2jek).ant-table-wrapper tfoot>tr>th, :where(.css-dev-only-do-not-override-ac2jek).ant-table-wrapper tfoot>tr>td{
  padding: 10px !important;
}
:where(.css-dev-only-do-not-override-ac2jek).ant-modal-root .ant-modal-wrap{padding: 20px;}

.open_list{display: flex; flex-direction: column; position: relative;}
.right_list{background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 12px #00000014;
 z-index: 9999;
  overflow: hidden;
  padding: 0 20px;
  position: absolute;
  right: 20px;
  top: 121%;
  transition: .3s;  width: 230px;
max-height: 0px;
}
  
  
  .right_list li a{
    display: flex; 
    align-items: center;
    color:var(--text_color);
    font-size: var(--small_size);
    cursor: pointer;
    margin: 15px 0;
    font-weight: 500;
  
  }
  .right_list li a:hover{
    color: var(--back_hover_color) !important;
  }
  .right_list.open {
    max-height: 300px !important;
  }

  .right_list li i{    align-items: center;
  
    display: flex;
    font-size: var(--extra_large_size) !important;
    margin-right: 10px;}






:where(.css-dev-only-do-not-override-ac2jek).ant-select .ant-select-selection-wrap{
  padding-left: 8px !important; padding-right: 10px !important;
}
.ant-select input, .ant-select-selection-item{padding: 0 !important; height: 100% !important;}
:where(.css-dev-only-do-not-override-ac2jek).ant-select-single{height: 46px !important;}
@media (max-width:1700px){
      .login_img img{width: 70%;}
    }
    



@media (max-width: 1024px){
  .auth_navbar{padding: 30px 5%;}
  .login_img{display: none !important;}
  .login_form_box{width: 100%;}
 
  .auth_brand{width: 50%;}
  .selected_lang{background-color: #fafafa;  padding: 10px 10px;}
  .langs_box img{height: 22px;}

}